.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
}

.alert-success {
  position: center;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  display: block;
}

